<section class="products">
    <div class="wrapper">
        <h2 class="products__title">Or subscribe to the newsletter</h2>

        <header class="products__header">
            <ul class="products__list">
                <li class="products__item selected">all products</li>
                <li class="products__item">t-shirt</li>
                <li class="products__item">hoodies</li>
                <li class="products__item">jacket</li>
            </ul>

            <button class="products__button">
                <img src="../assets/img/filter.svg" alt="">
                <span>filter</span>
            </button>
        </header>

        <ul class="products__goods goods">
            <li class="products__good " *ngFor="let product of svc.productList">
                <div class="goods__picture {{product.isSale ? 'products__good sale' : 'products__good' }}">
                    <img src="{{product.image}}" alt="{{product.title}}">

                    <div class="products__goods--overed">
                        <picture>
                            <img src="../assets/img/heart.svg" alt="">
                            <img src="../assets/img/search-white.svg" alt="">
                        </picture>

                        <button class="goods__shop-button" (click)="buy(product)">
                            <img src="../assets/img/shop-white.svg" alt="">
                            <span>shop now</span>
                        </button>
                    </div>
                </div>
                <h3 class="goods__title">{{product.title}}</h3>

                <div class="goods__bottom-side">
                    <span class="goods__type">{{ product.type }}</span>
                    <span class="goods__price">
                        <s>{{product.oldPrice ? product.oldPrice : ''}}</s>
                        <b>${{product.price }}</b>
                    </span>
                </div>
            </li>
        </ul>
    </div>
</section>