<section class="collection">
    <div class="wrapper">
        <img src="../assets/img/rect.png" width="500" height="400" alt="">

        <div>
            <h2 class="collection__title">
                <img src="../assets/img/Zara.png" alt="">
            </h2>
            <p class="collection__info">
                Lustrous yet understated. The new evening <br>
                wear collection exclusively offered at the <br>
                reopened Giorgio Armani boutique in Los <br>
                Angeles.
            </p>
            <button class="collection__button">See Collection</button>
        </div>
    </div>
</section>