<section class="additional-information">
    <div class="wrapper">
        <div>
            <h2 class="main-logo additional-information-logo">CORAL</h2>
            <p class="additional-information__info">
                Lorem ipsum dolor sit amet, consectetur adipiscing <br>
                elit, sed do eiusmod tempor incididunt ut labore et <br>
                dolore magna aliqua
            </p>

            <ul class="social-list">
                <li class="social-list__item">
                    <a href="">
                        <img src="../assets/img/face.svg" alt="">
                        <span hidden>fasebook</span>
                    </a>
                </li>
                <li class="social-list__item">
                    <a href="">
                        <img src="../assets/img/twit.svg" alt="">
                        <span hidden>twitter</span>
                    </a>
                </li>
                <li class="social-list__item">
                    <a href="">
                        <img src="../assets/img/in.svg" alt="">
                        <span hidden>LinkedIn</span>
                    </a>
                </li>
                <li class="social-list__item">
                    <a href="">
                        <img src="../assets/img/insta.svg" alt="">
                        <span hidden>instagram</span>
                    </a>
                </li>
            </ul>
        </div>

        <ul class="additional-information__details">
            <li class="additional-information__detail">
                <h3 class="additional-information__subtitle">Catalog</h3>
                <ul class="additional-information__menu">
                    <li>Necklaces</li>
                    <li>hoodies</li>
                    <li>Jewelry Box</li>
                    <li>t-shirt</li>
                    <li>jacket</li>
                </ul>
            </li>
            <li class="additional-information__detail">
                <h3 class="additional-information__subtitle">ABOUT US</h3>
                <ul class="additional-information__menu">
                    <li>Our Producers</li>
                    <li>Sitemap</li>
                    <li>FAQ</li>
                    <li>About Us</li>
                    <li>Terms & Conditions</li>
                </ul>
            </li>
            <li class="additional-information__detail">
                <h3 class="additional-information__subtitle">CUSTOMER SERVICES</h3>
                <ul class="additional-information__menu">
                    <li>Contact Us</li>
                    <li>Track Your Order</li>
                    <li>Product Care & Repair</li>
                    <li>Book an Appointment</li>
                    <li>Shipping & Returns</li>
                </ul>
            </li>
        </ul>
    </div>
</section>