.modal-window {
    padding: 20px;
    background-color: #fff;
    display: block;

    >ul {
        display: flex;
        flex-direction: column;
        list-style: none;
    }
}

.display-none {
    display: none;
}