<section class="best-sellers">
    <div class="wrapper">
        <h2 class="best-sellers__title">Best Sellers</h2>

        <header class="best-sellers__header">
            <ul class="best-sellers__list">
                <li class="best-sellers__item selected">All products</li>
                <li class="best-sellers__item">T-shirt</li>
                <li class="best-sellers__item">Hoodies</li>
                <li class="best-sellers__item">Jacket</li>
            </ul>

            <button class="best-sellers__button">Show All</button>
        </header>

        <ul class="best-sellers__goods">
            <li class="best-sellers__good">
                <img src="../assets/img/green.png" width="312" height="400" alt="">
                <h3 class="best-sellers__subtitle">Basic Dress Green</h3>
                <div>
                    <span class="best-sellers__type">Dress</span>
                    <span class="best-sellers__price">$236.00</span>
                </div>
            </li>
            <li class="best-sellers__good">
                <img src="../assets/img/bag.png" width="312" height="400" alt="">
                <h3 class="best-sellers__subtitle">Nike Sportswear Futura Luxe</h3>
                <div>
                    <span class="best-sellers__type">Bag</span>
                    <span class="best-sellers__price">$130.00</span>
                </div>
            </li>
            <li class="best-sellers__good sale">
                <img src="../assets/img/yellow.png" width="312" height="400" alt="">
                <h3 class="best-sellers__subtitle">Yellow Reserved Hoodie</h3>
                <div>
                    <span class="best-sellers__type">Dress</span>
                    <span class="best-sellers__price">
                        <s>$364.00</s>
                        <b>$155.00</b>
                    </span>
                </div>
            </li>
            <li class="best-sellers__good sale">
                <img src="../assets/img/shoe.png" width="312" height="400" alt="">
                <h3 class="best-sellers__subtitle">Nike Air Zoom Pegasus</h3>
                <div>
                    <span class="best-sellers__type">shoe</span>
                    <span class="best-sellers__price">
                        <s>$236.00</s>
                        <b>$198.00</b>
                    </span>
                </div>
            </li>
        </ul>
    </div>
</section>