<section class="follow">
    <div class="wrapper">
        <h2 class="follow__title">Follow products and discounts on Instagram</h2>

        <ul class="follow__list">
            <li class="follow__item">
                <img src="../assets/img/1.png" width="200" height="200" alt="">
                <a href="https://www.instagram.com/bezi.design/" class="follow__layer">
                    <img src="/assets/img/instagram.svg" alt="">
                </a>
            </li>
            <li class="follow__item">
                <img src="../assets/img/2.png" width="200" height="200" alt="">
                <a href="https://www.instagram.com/bezi.design/" class="follow__layer">
                    <img src="/assets/img/instagram.svg" alt="">
                </a>
            </li>
            <li class="follow__item">
                <img src="../assets/img/3.png" width="200" height="200" alt="">
                <a href="https://www.instagram.com/bezi.design/" class="follow__layer">
                    <img src="/assets/img/instagram.svg" alt="">
                </a>
            </li>
            <li class="follow__item">
                <img src="../assets/img/4.png" width="200" height="200" alt="">
                <a href="https://www.instagram.com/bezi.design/" class="follow__layer">
                    <img src="/assets/img/instagram.svg" alt="">
                </a>
            </li>
            <li class="follow__item">
                <img src="../assets/img/5.png" width="200" height="200" alt="">
                <a href="https://www.instagram.com/bezi.design/" class="follow__layer">
                    <img src="/assets/img/instagram.svg" alt="">
                </a>
            </li>
            <li class="follow__item">
                <img src="../assets/img/6.png" width="200" height="200" alt="">
                <a href="https://www.instagram.com/bezi.design/" class="follow__layer">
                    <img src="/assets/img/instagram.svg" alt="">
                </a>
            </li>
        </ul>

        <form class="follow__form">
            <legend class="follow__legend">Or subscribe to the newsletter</legend>

            <input class="follow__field" type="email" placeholder="Email address...">
            <button class="follow__button" type="submit">SUBMIT</button>
        </form>
    </div>
</section>