<section class="popular-styles">
    <div class="wrapper">
      <ul class="popular-styles__brands">
        <li class="popular-styles__brand">
          <a href="#"><img src="../assets/img/brand-1.png" alt=""></a>
        </li>
        <li class="popular-styles__brand">
          <a href="#"><img src="../assets/img/brand-2.png" alt=""></a>
        </li>
        <li class="popular-styles__brand">
          <a href="#"><img src="../assets/img/brand-3.png" alt=""></a>
        </li>
        <li class="popular-styles__brand">
          <a href="#"><img src="../assets/img/brand-4.png" alt=""></a>
        </li>
        <li class="popular-styles__brand">
          <a href="#"><img src="../assets/img/brand-5.png" alt=""></a>
        </li>
      </ul>

      <div class="popular-styles__images">
        <h2 class="popular-styles__title">Explore new and popular styles</h2>
        <div>
          <img src="../assets/img/styles-4.png" width="312" height="312" alt="">
          <img src="../assets/img/styles-1.png" width="312" height="312" alt="">
          <img src="../assets/img/styles-3.png" width="312" height="312" alt="">
          <img src="../assets/img/styles-2.png" width="312" height="312" alt="">
          <img src="../assets/img/styles-5.png" width="312" height="312" alt="">
        </div>
      </div>
    </div>
  </section>