<section class="main-section">
    <div class="wrapper">
        <div>
            <h2 class="main-section__title">Collections</h2>
            <p class="main-section__info">
                you can explore ans shop many differnt collection <br>
                from various barands here.
            </p>
            <a class="main-section__button" href="#">
                <img src="../assets/img/shop-white.svg" alt="">
                <span>Shop Now</span>
            </a>
        </div>

        <div class="main-section__right-side">
            <img src="../assets/img/girl.png" width="424" alt="">
            <div class="main-section__behind"></div>
        </div>
    </div>
</section>