<header class="main-header">
  <div class="wrapper">
    <div class="main-header__top-side">
      <div class="main-header__search" (click)="searchClick()">
        <img src="{{searchIcon}}" alt="">
        <input type="text" hidden>
      </div>

      <a class="main-logo" href="/">CORAL</a>

      <ul class="main-header__menu">
        <li class="main-header__option">
          <a href="">
            <img src="../assets/img/avatar.svg" alt="">
            <span>Account</span>
          </a>
        </li>
        <li class="main-header__option" (click)="show()">
          <img src="../assets/img/shop.svg" alt="">
          <span>Shopping</span>
          <span class="{{svc.count ? 'shop-count' : ''}}" #counter>{{svc.count?svc.count:null}}</span>
        </li>
      </ul>
    </div>

    <div class="modal" *ngIf="isShow">
      <h2 class="modal__title">Корзина</h2>
      <div class="close-modal" (click)="closeModal()"></div>
      <ul class="modal__list">
        <li class="modal__item" *ngFor="let item of svc.selectedProducts">
          <img src="{{item.image}}" width="100" alt="">
          <div>
            <h3 class="modal__subtitles">{{item.title}}</h3>
            <div>
              <span>{{item.price}}</span>
            </div>
          </div>
        </li>
      </ul>

      <span class="total-price">total price: ${{svc.totalPrice}}</span>

    </div>


    <hr />

    <nav class="main-header__navigation">
      <ul class="main-header__list">
        <li class="main-header__item">
          <a href="">Jewelry & Accessories</a>
        </li>
        <li class="main-header__item">
          <a href="">Clothing & Shoes</a>
        </li>
        <li class="main-header__item">
          <a href="">Home & Living</a>
        </li>
        <li class="main-header__item">
          <a href="">Wedding & Party</a>
        </li>
        <li class="main-header__item">
          <a href="">Toys & Entertainment</a>
        </li>
        <li class="main-header__item">
          <a href="">Art & Collectibles</a>
        </li>
        <li class="main-header__item">
          <a href="">Craft Supplies & Tools</a>
        </li>
      </ul>
    </nav>
  </div>
</header>